
<div class="filter-box">
  &nbsp;

</div>
<div id="content" class="content-form">
  <h1>Checkout</h1>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="cardNumber" value='{{cardNumber}}'>
    <label for="cardNumber">Enter Your Card Number:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="cvv" value='{{cvv}}'>
    <label for="cvv">Enter The CVV on the Card:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="address" value='{{address}}'>
    <label for="address">Enter Your Billing Address:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="city" value='{{city}}'>
    <label for="city">Enter The Billing City:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="state" value='{{state}}'>
    <label for="state">Enter The Billing State:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="zip" value='{{zip}}'>
    <label for="zip">Enter The Billing Zip</label>
  </div>

  <button class="btn btn-outline-danger" onclick="checkOut()">Checkout</button>
</div>
